<div class="directcontainer">
	<div class="card headeroverride">
		<h1 class="directheaders">Directory</h1>
	</div>

	<div class="directcardscontainer">

		<div class="custarea">
			<div class="card eaglemtdircard">
				<div class="row">
					<div class="col-md-7">
						<%= image_tag("eaglemountain.jpg", :alt => "Eagle Mountain", :class => "egmtcardimg", :width => "600") %>
					</div>
					<div class="col-md-5">
						<h1 class="egmtcardheader">
							Eagle Mountain
						</h1>
						<div class="egaddressbox">
							<p class="egaddress">
								Street Address <br> City State, Zipcode <br>
							</p>
							<p class="egemail"> 
								Insert Email
							</p>
							<p class="egnumber">
								Insert Number
							</p> 

						</div>
					</div>
				</div>
				<button type="button" class="btn btncustdir btn-lg btn-block">Meet Our Providers!</button>
			</div>
		</div>


		<div class="custarea">
			<div class="card amfkdircard">
				<div class="row">
					<div class="col-md-4">
						<h1 class="amfkcardheader">
							American Fork 
						</h1>
						<div class="afaddressbox">
							<p class="afaddress">
								Street Address <br> City State, Zipcode <br>
							</p>
							<p class="afemail">
								Insert Email
							</p>
							<p class="afnumber">
								Insert Number
							</p>
						</div>
					</div>
					<div class="col-md-8">
						<%= image_tag("americanfork.jpg", :alt => "American Fork", :class => "amfkcardimg", :width => "690") %>
					</div>
				</div>
				<button type="button" class="btn btncustdir btn-lg btn-block">Meet Our Providers!</button>
			</div>
		</div>
	</div>
</div>