<div class="navpos">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light custom-header">
    <a class="navbar-brand" href="/">
      <%= image_tag 'nav favicon.png', alt: 'Home Icon', size: '40x40', class: 'd-inline-block'  %> 
      Psycological Assessment and Treatment Specialists
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav float-right multi-level">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Directory 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Locations and Contact Information</a></li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-submenu dropleft">
              <a class="dropdown-item dropdown-submenu" tabindex="-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eagle Mountain</a>
                <ul class="dropdown-menu dropleft">
                  <li class="dropdown-item"><a href="#">Administrative</a></li>
                  <div class="dropdown-divider"></div>
                  <li class="dropdown-item"><a href="#">Clinical</a></li>
                </ul>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-submenu dropleft">
              <a class="dropdown-item dropdown-submenu" tabindex="-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">American Fork</a>
                <ul class="dropdown-menu dropleft">
                  <li class="dropdown-item"><a href="#">Administrative</a></li>
                  <div class="dropdown-divider"></div>
                  <li class="dropdown-item"><a href="#">Clinical</a></li>
                </ul>
            </li>
          </ul>
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Patient Resources 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Learning Library </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">New Patient Paperwork</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Billing</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">New Patient Paperwork</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Therapy FAQs</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </li>
      </ul>
    </div>
  </nav>
</div>