<div class="masthead">
    <div class="inner">
        <h3 class="navbar-brand patsnavbarseafoam" ><%= link_to 'Psychological Assessments and Treatment Specialists', root_path %></h3>
        <nav class="nav nav-masthead app-nav">
            <%= nav_helper 'nav-link', 'span' %>
        </nav>
    </div>
</div> 