<div class="inner cover">
	<div class="card">
		<h1 class="cover-heading card-header ftquote">Psychological Assessments and Treatment Specialists</h1>
		<div class="quote-card custom-card card-body">
			<p class="lead ftquote"><b>“But oh! the blessing it is to have a [confidant] to whom one can speak fearlessly on any subject; with whom one's deepest as well as one's most foolish thoughts come out simply and safely.
    		<br><br>
			Oh, the comfort - the inexpressible comfort of feeling safe with a person - having neither to weigh thoughts nor measure words, but pouring them all right out, just as they are, chaff and grain together; certain that a faithful hand will take and sift them, keep what is worth keeping, and then with the breath of kindness blow the rest away.”</b></p>
			<cite> - Dinah Maria Mulock Craik, A Life for a Life</cite>
		</div>
	</div>
</div>