@import "bootstrap";

@font-face {
  font-family: 'Roboto';
  src: url(Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Marcellus';
  src: url(Marcellus-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Alegreya';
  src: url(Alegreya-MediumItalic.ttf) format("truetype");
}
/*
 * background color
 */

.body {
  background-color: #FFFAF1;
}

/*
 * Navbar
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Marcellus';
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #2a2b26;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 30px;
  position: fixed;
  top: 0;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: #2a2b26;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #2a2b26;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #36454f;
  border-bottom-color: #2a2b26;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/*
 * Custom Styles
 */

.custom-header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #A9A9A9;
  color: white;
  padding-bottom: 15px;
  
}

.custom-header > .nav-item {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  color: Black;
  font-family: 'Marcellus';
  }

.dropdown > .dropdown-item:hover .dropdown > dropdown-item:focus {
  background-color: #808080;
  color: white;
}

/*
*.parabackground {
*  position: fixed;
 * top: 50%;
  *left: 50%;
  *min-width: 100%;
  *min-height: 100%;
  *width: auto;
  *height: auto;
  *z-index: -100;
  *-webkit-transform: translateX(-50%) translateY(-50%);
  *transform: translateX(-50%) translateY(-50%);
  *background: image-url('goldbg.png') no-repeat;
  *background-size: cover; 
* }
*/

.parallax {
  /* The image used */
  background-image: url("familyhome.png");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-menu {
  background-color: #A9A9A9 !important; 
  color: white;
} 
/* the important tag is to override  bootstraps value for the dropdown menu */

.navbar-brand {
  font-family: 'Marcellus';
  font-weight: 600;
}

.ftquote {
  font-family: 'Marcellus';
  font-weight: 600;
}

.inner > .card-header {
  font-weight: 800;

}

.inner > .card {
  max-width: 80%;
  border: 2px solid #2a2b26;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffb3e6;
  color: black;
  padding-bottom: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px black;
  padding: 35px;
}

.spacer  {
  height: 150px;
}

.spacer2 {
  height: 150px;
}

nav {
  background-color: #D3D3D3;
}

.navbar {
  margin-bottom: 0px !important;
  margin: auto;
  position: fixed !important;
} 
/* marked as important to override margin bottom default and position put in by bootstrap*/

.navpos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}


.navbar-light .navbar-nav .active > .nav-link {
  font-family: 'Marcellus';
  font-weight: 600;
  border-bottom: 2px solid black;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Marcellus';
  font-weight: 600;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.quote {
  border-bottom: 10px solid black
}

.dropdown-menu > li > a {
  font-family: 'Marcellus' !important;
  font-weight: 600  !important;
  color: black;
}
 
 /* marked as important to override font weight and and family put in by bootstrap*/

.dropdown-submenu > .dropdown-menu {
  left: -100%;
}

.navbar-light .navbar-brand {
  margin-left: 100px;
}

.navbar-light > .navbar-collapse {
  margin-right: 100px;
}

.quote-card {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  align-text: center;
}

.quotehead {
  min-width: 80%;
  float: right;

}

.card-header {
  background: transparent; 
}
