@import "bootstrap";

@font-face {
  font-family: 'Roboto Condensed';
  src: url(RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Marcellus';
  src: url(Marcellus-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Italic';
  src: url(Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'IM Fell French Canon SC';
  src: url(IMFellFrenchCanonSC-Regular.ttf) format("truetype");
}


/*
 * background color
 */

.body {
  background-color: #FFFAF1; 
  text-align: center; 
  font-weight: bolder !important;
}

/*
 * Navbar
 */
 
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Marcellus';
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #2a2b26;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 30px;
  position: fixed;
  top: 0;
}

.masthead-brand {
  margin-bottom: 0;
} 

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: #2a2b26;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #2a2b26;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #36454f;
  border-bottom-color: #2a2b26;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/*
 * Custom Styles
 */

.custom-header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #d3d3d3;
  color: white;
  padding-bottom: 15px;
  
}

.custom-header > .nav-item {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  color: Black;
  font-family: 'Marcellus';
  }

.dropdown > .dropdown-item:hover .dropdown > dropdown-item:focus {
  background-color: #808080;
  color: white;
}


.appt-card {
  /* The image used */
  background-image: url("familyhome.png");

  /* Set a specific height */
  height: 500px;

  /* Create the fixed page wide scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-menu {
  background-color: #d3d3d3 !important; 
  color: white;
} 
/* the important tag is to override  bootstraps value for the dropdown menu */

.navbar-brand {
  font-family: 'Marcellus';
  font-weight: 600;
}

.ftquote {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  max-width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}

.quote-card  > .ftquote {
  font-size: 225%;
}

.inner > .card {
  max-width: 65%;
  border: 2px solid #2a2b26;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffb3e6;
  color: black;
  padding-bottom: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px black;
  padding: 35px;
}

.spacer  {
  height: 150px;
}

.spacer2 {
  height: 150px;
}

nav {
  background-color: #D3D3D3;
}

.navbar {
  margin-bottom: 0px !important;
  margin: auto;
  position: fixed !important;
} 
/* marked as important to override margin bottom default and position put in by bootstrap*/

.navpos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}


.navbar-light .navbar-nav .active > .nav-link {
  font-family: 'Marcellus';
  font-weight: 600;
  border-bottom: 2px solid black;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Marcellus';
  font-weight: 600;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.quote {
  border-bottom: 10px solid black
}

.dropdown-menu > li > a {
  font-family: 'Marcellus' !important;
  font-weight: 600  !important;
  color: black;
}
 
 /* marked as important to override font weight and and family put in by bootstrap*/

.dropdown-submenu > .dropdown-menu {
  left: -100%;
}

.navbar-light .navbar-brand {
  margin-left: 100px;
}

.navbar-light > .navbar-collapse {
  margin-right: 100px;
}

.quote-card {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.quotehead {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;

}

.card-header {
  background: transparent; 
  border-bottom-color: transparent;
  max-width: 65;
}

.quoteauthor {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  max-width: 65%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.quoteauthor > footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  max-width: 65%;
  font-size: 150%;
}

.customqt {
  color: gray !important;
  margin-right: 0px !important;
}

.appointment-card {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.cover-heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  max-width: 65%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  min-width: 1100px;
}

.custformalign {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.frontfooter {
  background-color: #d3d3d3;
  color: black;
  align: center;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#custftfooter {
  max-height: 100px;
  min-width: 100%;
}

.custombutton {
  background-color: #A9A9A9;
  color: black; 
  margin-left: auto;
  margin-right: auto;
  min-width: 20%;
}

.ftbuttonplacement {
  margin-right: auto !important;
  margin-left: auto !important;
}

.btn-cus {
  background-color: #A9A9A9;
  color: black; 
  min-width: 20%;
}

.alignbtn > .btn {
  margin: 30px;
  font-weight: 600;
  height: 45px;
}

.design-layout-overlap .image-button-wrapper {
  margin-right: auto;
  font-size: 75px;
  font-weight: 800;
  background: rgb(248,247,254);
  background: linear-gradient(90deg, rgba(248,247,254,1) 47%, rgba(223,222,226,1) 74%, rgba(184,181,181,1) 100%);
}

/*
 * Directory 
 */

.directheaders {
  font-family: 'IM Fell French Canon SC', serif;
  font-weight: 500;
  font-size: 500%;
  max-width: 65%; 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.headeroverride {
  border: transparent !important;
}

.eaglemtdircard {
  background: rgb(244,244,245);
  background: linear-gradient(90deg, rgba(244,244,245,1) 16%, rgba(223,222,226,1) 54%, rgba(150,149,149,1) 100%);
  max-width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 25% 10%;
  float: left;
}

.amfkdircard {
  background: rgb(112,112,115);
  background: linear-gradient(90deg, rgba(112,112,115,1) 24%, rgba(223,222,226,1) 67%, rgba(244,244,245,1) 100%);
  max-width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10% 25%;
  float: right;
}

.egmtcardimg {
  z-index: -1;
  border-radius: 10%;
  border: 1px solid black;
}

.amfkcardimg {
  border-radius: 10%;
  border: 1px solid black;
}

.egmtcardheader {
  font-weight: 1000;
  color: white;
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 500%;
  letter-spacing: 4px;
  text-shadow: 4px 4px 10px black;
  padding: 5px;
  min-width: 200% !important;
  text-align: left;
  margin-left: -200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.69), 0 6px 20px 0 #0e0a0a;
  background-color: #8bb367ba;
}

.amfkcardheader {
  font-weight: 1000;
  color: white;
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 500%;
  letter-spacing: 4px;
  text-shadow: 4px 4px 10px black;
  padding: 10px;
  min-width: 200% !important;
  text-align: left;
  margin-left: -200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.69), 0 6px 20px 0 #0e0a0a;
  background-color: #8bb367ba;
  position: relative;
  z-index: 1;
}

.custarea {
  width: 100%;
}